/* animation-fogwave */

.animation-fogwave {
  position: relative;
}

.animation-fogwave:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  animation-duration: 2.0s;
  animation-iteration-count: infinite;
  animation-name: fogwave;
  animation-timing-function: linear;
  background: linear-gradient(to right, transparent 3%,rgba(255, 255, 255, .7) 25%, transparent 40%);
  background-size: 1000px 100%;
  content: "";
  width: 100%;
  height: 100%;

  animation-fill-mode: forwards;
  user-select: none;
}

@keyframes fogwave {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: 1000px;
  }
}

/* Disable animations when preferes reduced motion */

@media (prefers-reduced-motion) {
  .animation-fogwave:before {
    animation-name: none;
  }
}
