.badge {
  align-items: center;
  border-radius: var(--border-radius--small);
  display: flex;
  padding: 5px 7px;
  white-space: nowrap;
}

.badge:not([class*="bg--"]):not([data-type]) {
  background-color: var(--color--white);
  border: 1px solid var(--card-border-color);
  color: var(--fgcolor--white);
}

a.badge:focus,
a.badge:hover {
  opacity: .8; /* DR.Edition 03/02/2020 */
}

.badge.badge--small {
  padding: 2px 3px;
}

.badge[data-type="primary"] {
  background-color: var(--color--primary);
  color: var(--fgcolor--primary);
}

.badge[data-type="secondary"] {
  background-color: var(--color--secondary);
  color: var(--fgcolor--secondary);
}

.badge[data-type="success"] {
  background-color: var(--color--accept);
  color: var(--fgcolor--accept);
}

.badge[data-type="danger"] {
  background-color: var(--color--cancel);
  color: var(--fgcolor--cancel);
}
