/* margin */

.margin-s {
  margin: var(--distance-small);
}

.margin-s--tb {
  margin-top: var(--distance-small);
  margin-bottom: var(--distance-small);
}

.margin-s--rl {
  margin-right: var(--distance-small);
  margin-left: var(--distance-small);
}

.margin-s--t {
  margin-top: var(--distance-small);
}

.margin-s--r {
  margin-right: var(--distance-small);
}

.margin-s--b {
  margin-bottom: var(--distance-small);
}

.margin-s--l {
  margin-left: var(--distance-small);
}

.margin-m {
  margin: var(--distance-medium);
}

.margin-m--tb {
  margin-top: var(--distance-medium);
  margin-bottom: var(--distance-medium);
}

.margin-m--rl {
  margin-right: var(--distance-medium);
  margin-left: var(--distance-medium);
}

.margin-m--t {
  margin-top: var(--distance-medium);
}

.margin-m--r {
  margin-right: var(--distance-medium);
}

.margin-m--b {
  margin-bottom: var(--distance-medium);
}

.margin-m--l {
  margin-left: var(--distance-medium);
}

.margin-l {
  margin: var(--distance-large);
}

.margin-l--tb {
  margin-top: var(--distance-large);
  margin-bottom: var(--distance-large);
}

.margin-l--rl {
  margin-right: var(--distance-large);
  margin-left: var(--distance-large);
}

.margin-l--t {
  margin-top: var(--distance-large);
}

.margin-l--r {
  margin-right: var(--distance-large);
}

.margin-l--b {
  margin-bottom: var(--distance-large);
}

.margin-l--l {
  margin-left: var(--distance-large);
}

.margin-xl {
  margin: var(--distance-xlarge);
}

.margin-xl--tb {
  margin-top: var(--distance-xlarge);
  margin-bottom: var(--distance-xlarge);
}

.margin-xl--rl {
  margin-right: var(--distance-xlarge);
  margin-left: var(--distance-xlarge);
}

.margin-xl--t {
  margin-top: var(--distance-xlarge);
}

.margin-xl--r {
  margin-right: var(--distance-xlarge);
}

.margin-xl--b {
  margin-bottom: var(--distance-xlarge);
}

.margin-xl--l {
  margin-left: var(--distance-xlarge);
}

.margin-xxl {
  margin: var(--distance-xlarge);
}

.margin-xxl--tb {
  margin-top: var(--distance-xxlarge);
  margin-bottom: var(--distance-xxlarge);
}

.margin-xxl--rl {
  margin-right: var(--distance-xxlarge);
  margin-left: var(--distance-xxlarge);
}

.margin-xxl--t {
  margin-top: var(--distance-xxlarge);
}

.margin-xxl--r {
  margin-right: var(--distance-xxlarge);
}

.margin-xxl--b {
  margin-bottom: var(--distance-xxlarge);
}

.margin-xxl--l {
  margin-left: var(--distance-xxlarge);
}

.margin-l--auto {
  margin-left: auto;
}

.margin-r---auto {
  margin-right: auto;
}

.margin-none {
  margin: 0;
}

.margin-none--t {
  margin-top: 0;
}

.margin-none--r {
  margin-right: 0;
}

.margin-none--b {
  margin-bottom: 0;
}

.margin-none--l {
  margin-left: 0;
}
