/* padding */

.padding-none {
  padding: 0;
}

.padding-none--t {
  padding-top: 0;
}

.padding-none--r {
  padding-right: 0;
}

.padding-none--b {
  padding-bottom: 0;
}

.padding-none--l {
  padding-left: 0;
}

.padding-s {
  padding: var(--distance-small);
}

.padding-s--tb {
  padding-top: var(--distance-small);
  padding-bottom: var(--distance-small);
}

.padding-s--rl {
  padding-right: var(--distance-small);
  padding-left: var(--distance-small);
}

.padding-s--t {
  padding-top: var(--distance-small);
}

.padding-s--r {
  padding-right: var(--distance-small);
}

.padding-s--b {
  padding-bottom: var(--distance-small);
}

.padding-s--l {
  padding-left: var(--distance-small);
}

.padding-m {
  padding: var(--distance-medium);
}

.padding-m--tb {
  padding-top: var(--distance-medium);
  padding-bottom: var(--distance-medium);
}

.padding-m--rl {
  padding-right: var(--distance-medium);
  padding-left: var(--distance-medium);
}

.padding-m--t {
  padding-top: var(--distance-medium);
}

.padding-m--r {
  padding-right: var(--distance-medium);
}

.padding-m--b {
  padding-bottom: var(--distance-medium);
}

.padding-m--l {
  padding-left: var(--distance-medium);
}

.padding-l {
  padding: var(--distance-large);
}

.padding-l--tb {
  padding-top: var(--distance-large);
  padding-bottom: var(--distance-large);
}

.padding-l--rl {
  padding-right: var(--distance-large);
  padding-left: var(--distance-large);
}

.padding-l--t {
  padding-top: var(--distance-large);
}

.padding-l--r {
  padding-right: var(--distance-large);
}

.padding-l--b {
  padding-bottom: var(--distance-large);
}

.padding-l--l {
  padding-left: var(--distance-large);
}

.padding-xl {
  padding: var(--distance-xlarge);
}

.padding-xl--tb {
  padding-top: var(--distance-xlarge);
  padding-bottom: var(--distance-xlarge);
}

.padding-xl--rl {
  padding-right: var(--distance-xlarge);
  padding-left: var(--distance-xlarge);
}

.padding-xl--t {
  padding-top: var(--distance-xlarge);
}

.padding-xl--r {
  padding-right: var(--distance-xlarge);
}

.padding-xl--b {
  padding-bottom: var(--distance-xlarge);
}

.padding-xl--l {
  padding-left: var(--distance-xlarge);
}

.padding-xxl {
  padding: var(--distance-xxlarge);
}

.padding-xxl--tb {
  padding-top: var(--distance-xxlarge);
  padding-bottom: var(--distance-xxlarge);
}

.padding-xxl--rl {
  padding-right: var(--distance-xxlarge);
  padding-left: var(--distance-xxlarge);
}

.padding-xxl--t {
  padding-top: var(--distance-xxlarge);
}

.padding-xxl--r {
  padding-right: var(--distance-xxlarge);
}

.padding-xxl--b {
  padding-bottom: var(--distance-xxlarge);
}

.padding-xxl--l {
  padding-left: var(--distance-xxlarge);
}
