:root {
  --button-border-radius: var(--border-radius-full);
  --button-border-radius--big: var(--border-radius-full);
  --button-border-radius--small: var(--border-radius-full);
  --button-height: 36px;
  --button-height--big: 48px;
  --button-height--small: 24px;
  --button-fs: 16px;
  --button-fs--big: 20px;
  --button-fs--small: 12px;
  --button-padding: 0 var(--distance-large);
  --button-padding--big: 0 var(--distance-xlarge);
  --button-padding--small: 0 var(--distance-medium);
  --button-color: var(--color--section, var(--color--default));
}

.button {
  /**
  @description: Standard button design
  @template:
  <button class="button">$1</button>
  */
  align-items: center;
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: var(--button-fs);
  font-weight: 800;
  line-height: 1;
  padding: var(--button-padding);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  height: var(--button-height);
  background: var(--button-background, var(--color--white));
  border: 1px solid var(--button-color);
  color: var(--button-text-color, var(--button-color));
}

.button:active,
.button:hover,
.button:focus,
.button--solid {
  background: var(--button-color);
  border: 1px solid var(--button-color);
  color: var(--button-text-color, var(--color--white));
}

.button--solid:active,
.button--solid:hover,
.button--solid:focus {
  background: var(--button-text-color, var(--color--white));
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

/* Primary button */
.button.button--primary,
.button--solid.button--primary:active,
.button--solid.button--primary:hover,
.button--solid.button--primary:focus {
  --button-color: var(--color--primary);
}

/* Secondary button */
.button.button--secondary,
.button--solid.button--secondary:active,
.button--solid.button--secondary:hover,
.button--solid.button--secondary:focus {
  --button-color: var(--color--secondary);
}

/* Accept button */
.button.button--accept,
.button--solid.button--accept:active,
.button--solid.button--accept:hover,
.button--solid.button--accept:focus {
  --button-color: var(--color--accept);
}

/* Cancel button */
.button.button--cancel,
.button--solid.button--cancel:active,
.button--solid.button--cancel:hover,
.button--solid.button--cancel:focus {
  --button-color: var(--color--cancel);
}

.button .icon {
  color: currentColor;
  font-size: 18px;

  fill: currentColor;
}

.button :first-child:not(:last-child) {
  margin-right: 5px;
}

.button .badge:first-child,
.button .icon:first-child {
  margin-right: 10px;
}

.button .badge:last-child,
.button .icon:last-child {
  margin-left: 10px;
}

.button.button--small {
  border-radius: var(--button-border-radius--small);
  font-size: var(--button-fs--small);
  padding: var(--button-padding--small);
  height: var(--button-height--small);
}

.button.button--big {
  border-radius: var(--button-border-radius--big);
  font-size: var(--button-fs--big);
  padding: var(--button-padding--big);
  height: var(--button-height--big);
}

.button.button--link,
.button.button--link:active,
.button.button--link:hover,
.button.button--link:focus {
  background: none;
  border: 0;
  color: inherit;
  font-weight: normal;
  padding: 0;
  height: auto;
}

.button.button--icon {
  justify-content: center;
  padding: 0;
  min-width: var(--button-height);
}

.button--big.button--icon {
  min-width: var(--button-height--big);
}

.button--small.button--icon {
  min-width: var(--button-height--small);
}

.button.button--icon .icon {
  margin: 0;
}

.button:disabled {
  --button-color: var(--color--graa3);
  cursor: default;

  pointer-events: none;
}

.button[data-type] {
  background: rgb(var(--button-background, var(--rgb-color--red)));
  color: rgb(var(--button-text-color, var(--rgb-fgcolor--red)));
  border: 0;
}

.button[data-type*="primary"]:active,
.button[data-type*="primary"]:hover,
.button[data-type*="primary"]:focus {
  background: rgba(var(--button-background, var(--rgb-color--red)), 0.7);
  color: rgb(var(--button-text-color, var(--rgb-fgcolor--red)));
}

.button[data-type="primary red"] {
  --button-background: var(--rgb-color--red);
  --button-text-color: var(--rgb-fgcolor--red);
}

.button[data-type="primary black"] {
  --button-background: var(--rgb-color--black);
  --button-text-color: var(--rgb-fgcolor--black);
}

.button[data-type="secondary"] {
  background: rgb(var(--button-background, var(--rgb-color--white)), 0.2);
  color: rgb(var(--button-text-color, var(--rgb-fgcolor--white)));
}

.button[data-type="secondary"]:active,
.button[data-type="secondary"]:hover,
.button[data-type="secondary"]:focus {
  background: rgb(var(--button-background, var(--rgb-color--white)), 0.3);
  color: rgb(var(--button-text-color, var(--rgb-fgcolor--white)));
}

.button[data-type="secondary transparent"] {
  background: rgb(var(--button-background, var(--rgb-color--white)), 0);
  color: rgb(var(--button-text-color, var(--rgb-fgcolor--white)));
}

.button[data-type="secondary transparent"]:active,
.button[data-type="secondary transparent"]:hover,
.button[data-type="secondary transparent"]:focus {
  background: rgb(var(--button-background, var(--rgb-color--black)), 0.05);
  color: rgb(var(--button-text-color, var(--rgb-fgcolor--white)));
}

.button[data-type="secondary onlight"] {
  background: rgb(var(--button-background, var(--rgb-color--black)), 0.1);
  color: rgb(var(--button-text-color, var(--rgb-color--black)));
}

.button[data-type="secondary onlight"]:active,
.button[data-type="secondary onlight"]:hover,
.button[data-type="secondary onlight"]:focus {
  background: rgb(var(--button-background, var(--rgb-color--black)), 0.2);
  color: rgb(var(--button-text-color, var(--rgb-color--black)));
}

.button[data-type="secondary ondark"] {
  background: rgb(var(--button-background, var(--rgb-color--white)), 0.2);
  color: rgb(var(--button-text-color, var(--rgb-color--white)));
}

.button[data-type="secondary ondark"]:active,
.button[data-type="secondary ondark"]:hover,
.button[data-type="secondary ondark"]:focus {
  background: rgb(var(--button-background, var(--rgb-color--white)), 0.3);
  color: rgb(var(--button-text-color, var(--rgb-color--white)));
}
