/* -- TOKENS -- */
:root {
  --button-font-size-sm: 12px;
  --button-font-size-md: 16px;
  --button-font-size-lg: 20px;
  --button-font-size-xl: 26px;
  --button-font-size-2xl: 32px;

  --button-padding-inline-sm: 12px;
  --button-padding-block-sm: 8px;
  --button-padding-inline-md: 18px;
  --button-padding-block-md: 12px;
  --button-padding-inline-lg: 24px;
  --button-padding-block-lg: 16px;
  --button-padding-inline-xl: 30px;
  --button-padding-block-xl: 20px;
  --button-padding-inline-2xl: 36px;
  --button-padding-block-2xl: 24px;


  --button-gap-sm: 6px;
  --button-gap-md: 8px;
  --button-gap-lg: 12px;
  --button-gap-xl: 14px;
  --button-gap-2xl: 16px;

  --button-radius: 32px;

  /* Base colors */
  --color-black-rgb: 0 0 0;
  --color-white-rgb: 255 255 255;
  --color-brand-rgb: 255 0 0;
  --color-danger-rgb: 200 0 0;
  --color-success-rgb: 0 145 90;

  /* Variants */
  --button-primary-bg-rgb: var(--color-black-rgb);
  --button-primary-fg-rgb: var(--color-white-rgb);
  --button-primary--brand-bg-rgb: var(--color-brand-rgb);
  --button-primary--brand-fg-rgb: var(--color-white-rgb);
  --button-secondary--onlight-bg-rgb: var(--color-black-rgb);
  --button-secondary--onlight-fg-rgb: var(--color-black-rgb);
  --button-secondary--ondark-bg-rgb: var(--color-white-rgb);
  --button-secondary--ondark-fg-rgb: var(--color-white-rgb);
  --button-transparent--onlight-bg-rgb: var(--color-black-rgb);
  --button-transparent--onlight-fg-rgb: var(--color-black-rgb);
  --button-transparent--ondark-bg-rgb: var(--color-white-rgb);
  --button-transparent--ondark-fg-rgb: var(--color-white-rgb);
  --button-link-fg-rgb: var(--color-brand-rgb);
  --button-danger-bg-rgb: var(--color-danger-rgb);
  --button-danger-fg-rgb: var(--color-white-rgb);
  --button-success-bg-rgb: var(--color-success-rgb);
  --button-success-fg-rgb: var(--color-white-rgb);

  /* Alphas */
  --button-alpha-base-solid: 1;
  --button-alpha-hover-solid: 0.85;
  --button-alpha-active-solid: 0.75;
  --button-alpha-base-tinted-onlight: 0.10;
  --button-alpha-hover-tinted-onlight: 0.20;
  --button-alpha-active-tinted-onlight: 0.15;
  --button-alpha-base-tinted-ondark: 0.20;
  --button-alpha-hover-tinted-ondark: 0.30;
  --button-alpha-active-tinted-ondark: 0.25;
  --button-alpha-base-transparent: 0;
  --button-alpha-hover-transparent: 0.05;
  --button-alpha-hover-transparent-ondark: 0.1;

  --button-focus-ring-color: rgb(var(--rgb-color--blue));
  --button-focus-ring-width: 2px;

  --button-icon-scale: 1;

  --button-icononly-size-sm: 28px;
  --button-icononly-size-md: 40px;
  --button-icononly-size-lg: 52px;
  --button-icononly-size-xl: 64px;
  --button-icononly-size-2xl: 76px;
}

/* -- COMPONENT -- */
.button {
  --_button-font-size: var(--button-font-size-md);
  --_button-padding-inline: var(--button-padding-inline-md);
  --_button-padding-block: var(--button-padding-block-md);
  --_button-gap: var(--button-gap-md);

  --_button-bg-rgb: var(--button-primary-bg-rgb);
  --_button-fg-rgb: var(--button-primary-fg-rgb);

  --_button-base-alpha: var(--button-alpha-base-solid);
  --_button-hover-alpha: var(--button-alpha-hover-solid);
  --_button-active-alpha: var(--button-alpha-active-solid);

  --icon-size: calc(var(--_button-font-size) * var(--button-icon-scale));

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--_button-gap);
  block-size: fit-content;

  padding-inline: var(--_button-padding-inline);
  padding-block: var(--_button-padding-block);

  border-radius: var(--button-radius);
  border: none;

  background-color: rgb(var(--_button-bg-rgb) / var(--_button-base-alpha));
  color: rgb(var(--_button-fg-rgb));

  font-family: var(--fontfamily--primary);
  font-size: var(--_button-font-size);
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
}

.button:hover   { background-color: rgb(var(--_button-bg-rgb) / var(--_button-hover-alpha)); }

.button:active  { background-color: rgb(var(--_button-bg-rgb) / var(--_button-active-alpha)); }

.button:focus-visible { outline: none; box-shadow: 0 0 0 var(--button-focus-ring-width) var(--button-focus-ring-color); }

.button:disabled { opacity: 0.6; pointer-events: none; cursor: not-allowed; }

/* -- SIZES -- */
.button--sm {
  --_button-font-size: var(--button-font-size-sm);
  --_button-padding-inline: var(--button-padding-inline-sm);
  --_button-padding-block: var(--button-padding-block-sm);
  --_button-gap: var(--button-gap-sm);
}

.button--lg {
  --_button-font-size: var(--button-font-size-lg);
  --_button-padding-inline: var(--button-padding-inline-lg);
  --_button-padding-block: var(--button-padding-block-lg);
  --_button-gap: var(--button-gap-lg);
}

.button--xl {
  --_button-font-size: var(--button-font-size-xl);
  --_button-padding-inline: var(--button-padding-inline-xl);
  --_button-padding-block: var(--button-padding-block-xl);
  --_button-gap: var(--button-gap-xl);
}

.button--2xl {
  --_button-font-size: var(--button-font-size-2xl);
  --_button-padding-inline: var(--button-padding-inline-2xl);
  --_button-padding-block: var(--button-padding-block-2xl);
  --_button-gap: var(--button-gap-2xl);
}

/* -- VARIANTS --*/
.button--primary {
  --_button-bg-rgb: var(--button-primary-bg-rgb);
  --_button-fg-rgb: var(--button-primary-fg-rgb);
  --_button-base-alpha: var(--button-alpha-base-solid);
  --_button-hover-alpha: var(--button-alpha-hover-solid);
  --_button-active-alpha: var(--button-alpha-active-solid);
}

.button--primary--brand {
  --_button-bg-rgb: var(--button-primary--brand-bg-rgb);
  --_button-fg-rgb: var(--button-primary--brand-fg-rgb);
  --_button-base-alpha: var(--button-alpha-base-solid);
  --_button-hover-alpha: var(--button-alpha-hover-solid);
  --_button-active-alpha: var(--button-alpha-active-solid);
}

.button--secondary--onlight {
  --_button-bg-rgb: var(--button-secondary--onlight-bg-rgb);
  --_button-fg-rgb: var(--button-secondary--onlight-fg-rgb);
  --_button-base-alpha: var(--button-alpha-base-tinted-onlight);
  --_button-hover-alpha: var(--button-alpha-hover-tinted-onlight);
  --_button-active-alpha: var(--button-alpha-active-tinted-onlight);
}

.button--secondary--ondark {
  --_button-bg-rgb: var(--button-secondary--ondark-bg-rgb);
  --_button-fg-rgb: var(--button-secondary--ondark-fg-rgb);
  --_button-base-alpha: var(--button-alpha-base-tinted-ondark);
  --_button-hover-alpha: var(--button-alpha-hover-tinted-ondark);
  --_button-active-alpha: var(--button-alpha-active-tinted-ondark);
}

.button--transparent--onlight {
  --_button-bg-rgb: var(--button-transparent--onlight-bg-rgb);
  --_button-fg-rgb: var(--button-transparent--onlight-fg-rgb);
  --_button-base-alpha: var(--button-alpha-base-transparent);
  --_button-hover-alpha: var(--button-alpha-hover-transparent);
  --_button-active-alpha: var(--button-alpha-base-transparent);
}

.button--transparent--ondark {
  --_button-bg-rgb: var(--button-transparent--ondark-bg-rgb);
  --_button-fg-rgb: var(--button-transparent--ondark-fg-rgb);
  --_button-base-alpha: var(--button-alpha-base-transparent);
  --_button-hover-alpha: var(--button-alpha-hover-transparent-ondark);
  --_button-active-alpha: var(--button-alpha-base-transparent);
}

.button--link {
  --_button-bg-rgb: 0 0 0;
  --_button-base-alpha: 0;
  --_button-hover-alpha: 0;
  --_button-active-alpha: 0;
  --_button-padding-inline: 0;
  --_button-padding-block: 0;
  background-color: transparent;
  color: rgb(var(--button-link-fg-rgb));
  text-decoration: none;
  font-family: var(--fontfamily--secondary);
  font-weight: 300;
}

.button--link--footer {
  --_button-bg-rgb: 0 0 0;
  --_button-base-alpha: 0;
  --_button-hover-alpha: 0;
  --_button-active-alpha: 0;
  --_button-padding-inline: 0;
  --_button-padding-block: 0;
  background-color: transparent;
  color: rgb(var(--color--graa3));
  text-decoration: none;
  font-family: var(--fontfamily--secondary);
  font-weight: 300;

}
.button--link--footer:hover,
.button--link--footer:active,
.button--link:hover,
.button--link:active { text-decoration: underline; }

.button--danger {
  --_button-bg-rgb: var(--button-danger-bg-rgb);
  --_button-fg-rgb: var(--button-danger-fg-rgb);
  --_button-base-alpha: var(--button-alpha-base-solid);
  --_button-hover-alpha: var(--button-alpha-hover-solid);
  --_button-active-alpha: var(--button-alpha-active-solid);
}

.button--success {
  --_button-bg-rgb: var(--button-success-bg-rgb);
  --_button-fg-rgb: var(--button-success-fg-rgb);
  --_button-base-alpha: var(--button-alpha-base-solid);
  --_button-hover-alpha: var(--button-alpha-hover-solid);
  --_button-active-alpha: var(--button-alpha-active-solid);
}

/* -- ICONS -- */
.button .button__icon,
.button .icon-svg {
  width: var(--icon-size);
  height: var(--icon-size);
  flex: 0 0 auto;
  align-self: center;
  fill: currentColor;
  line-height: 0;
}

.button.button--icon-only {
  display: inline-grid;
  place-items: center;
  inline-size: var(--button-icononly-size-md);
  block-size: var(--button-icononly-size-md);
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  gap: 0;
}

.button.button--icon-only.button--sm {
  inline-size: var(--button-icononly-size-sm);
  block-size: var(--button-icononly-size-sm);
}

.button.button--icon-only.button--lg {
  inline-size: var(--button-icononly-size-lg);
  block-size: var(--button-icononly-size-lg);
}

.button.button--icon-only.button--xl {
  inline-size: var(--button-icononly-size-xl);
  block-size: var(--button-icononly-size-xl);
}

.button.button--icon-only.button--2xl {
  inline-size: var(--button-icononly-size-2xl);
  block-size: var(--button-icononly-size-2xl);
}
