.card {
  border-radius: var(--border-radius--small);
  box-shadow: 0 0 0 1px #efefef; /* DR.Edition 03/02/2020 */
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 100%;
}

a.card:hover {
  box-shadow: var(--box-shadow--hover);
  opacity: .8; /* DR.Edition 03/02/2020 */
}

.card-media {
  position: relative;
}

.card-media--img {
  display: block;
  width: 100%;
}

.card-media--icon {
  position: absolute;
  bottom: 5px;
  left: 5px;

  width: 10%;
  min-width: 25px;
}

.card-content {
  padding: 5px 10px 10px;
}

.card-meta {
  color: var(--color--black);
}

.card-title {
  color: var(--color--black);
  font-size: 30px;
  margin: 5px 0 0;
}

.card-media + .card-content .card-title {
  font-size: 20px;
}

/**/
.card--small-media {
  align-items: center;
  display: flex;
}

.card--small-media .card-media {
  min-width: max-content;
}

.card--small-media .card-content {
  padding: 5px 10px 5px 10px;
}

.card--small-media .card-title {
  margin: 0;
}

.card--small-media--reverse {
  flex-direction: row-reverse;
}

.card-media + .card--small-media .card-title {
  font-size: 25px;
}
