.card {
  border: 1px solid var(--color--graa7);
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

a.card:hover {
  box-shadow: 0 10px 10px 0 rgba(var(--rgb-color--black), .1);
}

.card-media {
  position: relative;
}

.card-media--img {
  border-radius: 10px 10px 0 0;
  display: block;
  width: 100%;
}

.card-media--icon {
  position: absolute;
  bottom: 5px;
  left: 5px;

  width: 10%;
  min-width: 25px;
}

.card-content {
  padding: 5px 10px 10px;
}

.card-meta {
  color: var(--color--black);
}

.card-title {
  color: var(--color--black);
  font-size: 30px;
  margin: 5px 0 0;
}

.card-media + .card-content .card-title {
  font-size: 20px;
}

/**/
.card--small-media {
  align-items: center;
  display: flex;
}

.card--small-media .card-media {
  min-width: max-content;
}

.card--small-media .card-media--img {
  border-radius: 10px 0 0 10px;
}

.card--small-media .card-content {
  padding: 5px 10px 5px 10px;
}

.card--small-media .card-title {
  font-size: 25px;
  margin: 0;
}

.card--small-media--reverse {
  flex-direction: row-reverse;
}

.card--small-media--reverse .card-media--img {
  border-radius: 0 10px 10px 0;
}
