:root {
  --card-border-color: var(--color--graa7);
  --card-fs-title: 30px;
  --card-fs-title--small: 20px;
  --card-padding: 20px;
}

@media (--smartphone) {
  :root {
    --card-fs-title: 20px;
  --card-fs-title--small: 16px;
  --card-padding: 10px;
  }
}

.card {
  border-radius: var(--border-radius--small);
  box-shadow: 0 0 0 1px var(--card-border-color); /* DR.Edition 03/02/2020 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* If background is set */
.card[class*="bg--"] {
  box-shadow: none; /* Remove border when filled */
}

.card:not([class*="bg--"]) {
  background: var(--color--white);
  color: var(--color--black);
}

a.card:hover,
a.card:focus {
  box-shadow: var(--box-shadow--hover);
  opacity: .8; /* DR.Edition 03/02/2020 */
  outline: none;
}

.card-media {
  position: relative;

  min-height: 1px; /* IE11 fix */
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
}

.card-media .card-icon {
  position: absolute;
  bottom: 5px;
  left: 5px;

  width: 10%;
  min-width: 25px;
}

.card-content {
  padding: var(--card-padding);

  flex: 1 0 auto;
}

.card-header,
.card-footer {
  box-sizing: border-box;
  margin: 0;
  padding: calc(var(--card-padding) / 2) var(--card-padding);
  width: 100%;
}

.card-header:not([class*="bg--"]) {
  border-bottom: 1px solid var(--card-border-color);
}

.card-footer {
  align-self: flex-end;
}

.card-footer:not([class*="bg--"]) {
  border-top: 1px solid var(--card-border-color);
}

.card-meta {
  font-weight: 500;
  margin: 0 0 1px;
}

.card-meta .card-badge {
  border-radius: 5px;
  padding: 3px 5px;
  text-transform: uppercase;
}

.card-title:not([class*="fs-"]) {
  font-size: var(--card-fs-title);
  font-weight: 700;
  margin: 0;
}

/**/
.card--small-media {
  align-items: center;
  flex-direction: row;

  flex-wrap: wrap;
}

.card--small-media .card-content {
  flex-basis: 0;
}

.card--small-media .card-media {
  min-width: max-content;
}

.card--small-media--reverse {
  flex-direction: row-reverse;
}

.card--small-media .card-media + .card-content {
  padding: 0 var(--card-padding);
}

/* Shrink font-size on small cards with media, if not explicitly set to large */
.width-1of2 > .card .card-media + .card-content .card-title:not(.card-title--large):not([class*="fs-"]),
.width-1of3 > .card .card-media + .card-content .card-title:not(.card-title--large):not([class*="fs-"]),
.card.width-1of2 .card-media + .card-content .card-title:not(.card-title--large):not([class*="fs-"]),
.card.width-1of3 .card-media + .card-content .card-title:not(.card-title--large):not([class*="fs-"]),
.card--small-media .card-title:not(.card-title--large):not([class*="fs-"]),
.card-title--small:not([class*="fs-"]) {
  font-size: var(--card-fs-title--small);
}
