/* .fs-ads {
  font-size: var(--fs-ads);
  line-height: normal;
}

.fs-bodytext {
  font-size: var(--fs-bodytext);
  line-height: normal;
}

.fs-caption {
  font-size: var(--fs-caption);
  line-height: 20px;
}

@media (--smartphone) {
  .fs-caption {
    line-height: 14px;
  }
}

.fs-quote {
  font-size: var(--fs-quote);
  line-height: normal;
}

.fs-showmore {
  font-size: var(--fs-showmore);
}

.fs-subtitle {
  font-size: var(--fs-subtitle);
  line-height: normal;
}

.fs-timestamp {
  font-size: var(--fs-timestamp);
  line-height: normal;
}

.fs-title {
  font-size: var(--fs-title);
  line-height: normal;
} */
