/**
* Base font-size in browsers is 16px
*/

.fontsize-xxsmall {
  /**
  @description: Matches 10px
  */
  font-size: var(--fs-rem-xxsmall);
}

.fontsize-xsmall {
  /** @description: Matches 12px */
  font-size: var(--fs-rem-xsmall);
}

.fontsize-small {
  /** @description: Matches 14px */
  font-size: var(--fs-rem-small);
}

.fontsize-medium {
  /** @description: Matches 16px */
  font-size: var(--fs-rem-medium);
}

.fontsize-large {
  /** @description: Matches 18px */
  font-size: var(--fs-rem-large);
}

.fontsize-xlarge {
  /** @description: Matches 20px */
  font-size: var(--fs-rem-xlarge);
}

.fontsize-xxlarge {
  /** @description: Matches 24px */
  font-size: var(--fs-rem-xxlarge);
}

.fontsize-xxxlarge {
  /** @description: Matches 28px */
  font-size: var(--fs-rem-xxxlarge);
}

.fontsize-xxxxlarge {
  /** @description: Matches 40px */
  font-size: var(--fs-rem-xxxxlarge);
}

.fontsize-xxxxxlarge {
  /** @description: Matches 80px */
  font-size: var(--fs-rem-xxxxxlarge);
}

.fontsize-smaller {
  font-size: 80%;
}

.fontsize-larger {
  font-size: 120%;
}
