/* .ff-primary {
  font-family: var(--fontfamily--primary);
}

.ff-secondary {
  font-family: var(--fontfamily--secondary);
} */

html,
button,
input,
select,
textarea {
  /* font-family: var(--fontfamily--secondary); */
  font-variant-ligatures: none;
}
/*
h1 {
  font-size: var(--fs-title);
  line-height: normal;
  font-stretch: semi-condensed;
  font-weight: 700;
  font-family: var(--fontfamily--primary);
}

h2 {
  font-size: var(--fs-subtitle);
  line-height: normal;
}

h3 {
  font-size: var(--fs-xlarge);
}

h4 {
  font-size: var(--fs-large);
}

h5 {
  font-size: var(--fs-large);
}

h6 {
  font-size: var(--fs-medium);
} */

p {
  margin: 0;
}
