/* *
* Base font-size in browsers is 16px
*/
/*
.fontsize-xxsmall {
  font-size: var(--fs-rem-xxsmall);
}

.fontsize-xsmall {
  font-size: var(--fs-rem-xsmall);
}

.fontsize-small {
  font-size: var(--fs-rem-small);
}

.fontsize-medium {
  font-size: var(--fs-rem-medium);
}

.fontsize-large {
  font-size: var(--fs-rem-large);
}

.fontsize-xlarge {
  font-size: var(--fs-rem-xlarge);
}

.fontsize-xxlarge {
  font-size: var(--fs-rem-xxlarge);
}

.fontsize-xxxlarge {
  font-size: var(--fs-rem-xxxlarge);
}

.fontsize-xxxxlarge {
  font-size: var(--fs-rem-xxxxlarge);
}

.fontsize-xxxxxlarge {
  font-size: var(--fs-rem-xxxxxlarge);
}

.fontsize-smaller {
  font-size: 80%;
}

.fontsize-larger {
  font-size: 120%;
} */
