.screen-reader-text {
  position: absolute;

  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  top: 5px;
  left: 5px;
  z-index: 2147483647;

  background-color: var(--color--graa6);
  border-radius: 3px;
  clip: auto !important;
  color: var(--color--focus);
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  outline: 5px auto var(--color--focus);
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  height: auto;
}
