:root {
  --horz-gap: var(--distance-medium);
}

.horizontal-scroll-container {
  overflow: hidden;
}

.horizontal-scroll-container::before,
.horizontal-scroll-container::after {
  background: linear-gradient(90deg, transparent 5%, rgba(0, 0, 0, 0.4) 50%);
  background-position: 0 100%;
  background-size: 100% 200%;
  border-radius: 1000% / 300%;
  content: " ";
  filter: blur(4px);
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0px;
  transition: opacity 0.2s;
  width: 7px;
  z-index: 1;
  height: 100%;
}

.horizontal-scroll-container::before {
  background: linear-gradient(270deg, transparent 5%, rgba(0, 0, 0, 0.4) 50%);
  right: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.horizontal-scroll-container::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.horizontal-scroll-container[data-atend="true"]::after {
  opacity: 0;
}

.horizontal-scroll-container[data-atstart="true"]::before {
  opacity: 0;
}

.horizontal-scroll-nav {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 100;

  box-shadow: var(--box-shadow);
  opacity: 0;
  transform: translateY(-50%);
  background: var(--color--white);
  color: var(--color--black);
  border-color: var(--color--black);
}

.horizontal-scroll-nav:active,
.horizontal-scroll-nav:hover,
.horizontal-scroll-nav:focus {
  background: var(--color--white);
  color: var(--color--black);
  border-color: var(--color--black);
}

@media (hover: none) {
  .horizontal-scroll-nav {
    display: none;
  }
}

.horizontal-scroll-container:not([data-atstart="true"]):hover .button-prev {
  opacity: 1;
}

.horizontal-scroll-nav.button-next {
  right: 10px;
  left: auto;
}

.horizontal-scroll-container:not([data-atend="true"]):hover .button-next {
  opacity: 1;
}

.horizontal-scroll-items {
  overflow-x: scroll;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox hack to hide scrollbar */
}

.horizontal-scroll-items::-webkit-scrollbar {
  display: none; /* Chrome on Windows hack to hide scrollbar */
}

.horizontal-scroll-item {
  scroll-snap-align: start;
}

.horizontal-scroll-item--small {
  height: 84px;
}

.horizontal-scroll-items--gap {
  gap: var(--horz-gap);
}

.horizontal-scroll-items--gap .card-mode--article:last-child {
  margin-right: 0;
}
