:root {
  --horz-gap: var(--distance-medium);
}

.horizontal-scroll-container::before,
.horizontal-scroll-container::after {
  position: absolute;
  top: 0;
  right: calc(5px * -1);
  left: calc(100% - 5px);
  z-index: 1;

  content: " ";
  opacity: 1;
  transition: opacity 200ms, height 200ms;
  width: 5px;
  height: 100%;
  background: radial-gradient(circle, transparent 5%, #00000094 50%, transparent 95%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  filter: blur(6px);
}

.horizontal-scroll-container::before {
  right: auto;
  left: 0;
}

@media (max-width: 767px) {
  .horizontal-scroll-container::after,
  .horizontal-scroll-container::before {
    display: none;
  }
}

.horizontal-scroll-container[data-atend="true"]::after {
  opacity: 0;
  height: 0;
}

.horizontal-scroll-container[data-atstart="true"]::before {
  opacity: 0;
  height: 0;
}

.horizontal-scroll-nav {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 100;

  box-shadow: var(--box-shadow);
  opacity: 0;
  transform: translateY(-50%);
}

@media (hover: none) {
  .horizontal-scroll-nav {
    display: none;
  }
}

.horizontal-scroll-container:not([data-atstart="true"]):hover .button-prev {
  opacity: 1;
}

.horizontal-scroll-nav.button-next {
  right: 10px;
  left: auto;
}

.horizontal-scroll-container:not([data-atend="true"]):hover .button-next {
  opacity: 1;
}

.horizontal-scroll-items {
  overflow-x: scroll;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox hack to hide scrollbar */
}

.horizontal-scroll-items::-webkit-scrollbar {
  display: none; /* Chrome on Windows hack to hide scrollbar */
}

.horizontal-scroll-item {
  scroll-snap-align: start;
}

.horizontal-scroll-item--small {
  height: 84px;
}

.horizontal-scroll-items--gap {
  gap: var(--horz-gap);
}

.horizontal-scroll-items--gap .card-mode--article:last-child {
  margin-right: 0;
}
