:root {
  --button-border-radius: var(--button-height);
  --button-height: 36px;
  --color--button-accept: var(--color--green);
  --color--button-cancel: var(--color--red);
  --color--button-default: var(--color--bluedark);
  --color--button-primary: var(--color--bruger);
  --color--button-secondary: var(--color--graa3);
  --fgcolor--button-accept: var(--fgcolor--green);
  --fgcolor--button-cancel: var(--fgcolor--red);
  --fgcolor--button-default: var(--fgcolor--bluedark);
  --fgcolor--button-primary: var(--fgcolor--bruger);
  --fgcolor--button-secondary: var(--fgcolor--graa3);
}

.button {
  align-items: center;
  background: var(--color--white);
  border: 1px solid var(--color--button-default);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  color: var(--color--button-default);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: calc(var(--button-height) - 2px);
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  height: var(--button-height);
}

.button:hover {
  background: var(--color--button-default);
  border: 1px solid var(--color--button-default);
  color: var(--fgcolor--button-default);
}

.button:active,
.button:focus {
  outline: 5px auto var(--color--focus);
}

.button.button--primary {
  border-color: var(--color--button-primary);
  color: var(--color--button-primary);
}

.button.button--primary:hover {
  background: var(--color--button-primary);
  color: var(--fgcolor--button-primary);
}

.button.button--secondary {
  border-color: var(--color--button-secondary);
  color: var(--color--button-secondary);
}

.button.button--secondary:hover {
  background: var(--color--button-secondary);
  color: var(--fgcolor--button-secondary);
}

.button.button--accept {
  border-color: var(--color--button-accept);
  color: var(--color--button-accept);
}

.button.button--accept:hover {
  background: var(--color--button-accept);
  color: var(--fgcolor--button-accept);
}

.button.button--cancel {
  border-color: var(--color--button-cancel);
  color: var(--color--button-cancel);
}

.button.button--cancel:hover {
  background: var(--color--button-cancel);
  color: var(--fgcolor--button-cancel);
}

.button:hover,
.button--solid {
  background: var(--color--button-default);
  color: var(--fgcolor--button-default);
}

.button--solid:hover {
  background: none;
  border: 1px solid var(--color--button-default);
  color: var(--color--button-default);
}

.button--solid.button--primary {
  background-color: var(--color--button-primary);
  border-color: var(--color--button-primary);
  color: var(--fgcolor--button-primary);
}

.button--solid.button--primary:hover {
  background: var(--color--white);
  border-color: var(--color--button-primary);
  color: var(--color--button-primary);
}

.button--solid.button--secondary {
  background-color: var(--color--button-secondary);
  border-color: var(--color--button-secondary);
  color: var(--fgcolor--button-secondary);
}

.button--solid.button--secondary:hover {
  background: var(--color--white);
  border-color: var(--color--button-secondary);
  color: var(--color--button-secondary);
}

.button--solid.button--accept {
  background-color: var(--color--button-accept);
  border-color: var(--color--button-accept);
  color: var(--fgcolor--button-accept);
}

.button--solid.button--accept:hover {
  background: var(--color--white);
  border-color: var(--color--button-accept);
  color: var(--color--button-accept);
}

.button--solid.button--cancel {
  background-color: var(--color--button-cancel);
  border-color: var(--color--button-cancel);
  color: var(--fgcolor--button-cancel);
}

.button--solid.button--cancel:hover {
  background: var(--color--white);
  border-color: var(--color--button-cancel);
  color: var(--color--button-cancel);
}

.button .fa {
  font-size: 18px;
}

.button .fa:first-child {
  margin-right: 10px;
}

.button .fa:last-child {
  margin-left: 10px;
}

.button--icon {
  justify-content: center;
  padding: 0;
  min-width: var(--button-height);
}

.button--icon .fa:first-child,
.button--icon .fa:last-child {
  margin: 0;
}

.button--link,
.button--link:hover {
  background: none;
  border: 0;
  color: inherit;
}
