:root {
  --button-border-radius: var(--button-height);
  --button-height: 36px;
}

.button {
  /**
    @description: Standard button design
    @template:
    <button class="button">$1</button>
  */
  align-items: center;
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  height: var(--button-height);
}

/* Default button coloring */
.button:not([class*="bg--"]) {
  background: var(--color--white);
  border: 1px solid var(--color--default);
  color: var(--color--default);
}

/* Custom button */
.button[class*="bg--"] {
  border: 1px solid var(--color--graa5);
}

.button[class*="bg--"]:active,
.button[class*="bg--"]:hover,
.button[class*="bg--"]:focus {
  background: white;
}

.button:disabled {
  cursor: default;
  opacity: .7;

  pointer-events: none;
}

.button:not([class*="bg--"]):active,
.button:not([class*="bg--"]):hover,
.button:not([class*="bg--"]):focus,
.button--solid:not([class*="bg--"]) {
  background: var(--color--default);
  border: 1px solid var(--color--default);
  color: var(--fgcolor--default);
  outline: none;
}

/* Solid buttons */
.button--solid:not([class*="bg--"]):active,
.button--solid:not([class*="bg--"]):hover,
.button--solid:not([class*="bg--"]):focus {
  color: var(--color--default);
}

.button.button--solid:not([class*="bg--"]):active,
.button.button--solid:not([class*="bg--"]):hover,
.button.button--solid:not([class*="bg--"]):focus {
  background: var(--color--white);
}

/* Primary button */
.button.button--primary,
.button--solid.button--primary:active,
.button--solid.button--primary:hover,
.button--solid.button--primary:focus {
  border-color: var(--color--primary);
  color: var(--color--primary);
}

.button--solid.button--primary,
.button--primary:active,
.button--primary:hover,
.button--primary:focus {
  background: var(--color--primary);
  color: var(--fgcolor--primary);
}

/* Secondary button */
.button.button--secondary,
.button.button--solid.button--secondary:active,
.button.button--solid.button--secondary:hover,
.button.button--solid.button--secondary:focus {
  border-color: var(--color--secondary);
  color: var(--color--secondary);
}

.button--solid.button--secondary,
.button--secondary:active,
.button--secondary:hover,
.button--secondary:focus {
  background: var(--color--secondary);
  color: var(--fgcolor--secondary);
}

/* Accept button */
.button.button--accept,
.button--solid.button--accept:active,
.button--solid.button--accept:hover,
.button--solid.button--accept:focus {
  border-color: var(--color--accept);
  color: var(--color--accept);
}

.button--solid.button--accept,
.button--accept:active,
.button--accept:hover,
.button--accept:focus {
  background: var(--color--accept);
  color: var(--fgcolor--accept);
}

/* Cancel button */
.button.button--cancel,
.button--solid.button--cancel:active,
.button--solid.button--cancel:hover,
.button--solid.button--cancel:focus {
  border-color: var(--color--cancel);
  color: var(--color--cancel);
}

.button--solid.button--cancel,
.button--cancel:active,
.button--cancel:hover,
.button--cancel:focus {
  background: var(--color--cancel);
  color: var(--fgcolor--cancel);
}

.button .fa {
  font-size: 18px;
}

.button .badge:first-child,
.button .fa:first-child {
  margin-right: 10px;
}

.button .badge:last-child,
.button .fa:last-child {
  margin-left: 10px;
}

.button--icon {
  justify-content: center;
  padding: 0;
  min-width: var(--button-height);
}

.button--icon .fa:first-child,
.button--icon .fa:last-child {
  margin: 0;
}

.button.button--link,
.button.button--link:active,
.button.button--link:hover,
.button.button--link:focus {
  background: none;
  border: 0;
  color: inherit;
  outline: none;
}
