.input {
  background-image: none;
  border: 1px solid;
  border-radius: 0;
  box-sizing: border-box;

  font-size: var(--fs-bodytext);

  padding: var(--distance-standard);

  width: 100%;

  -webkit-appearance: none;
}

.input--footersearch {
  border: 0;
  text-indent: 25px;
}

.input--search {
  border: 0;
  width: auto;
}

.input-border--none {
  border: none;
}

.search--width {
  width: 740px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.btn--footersearch {
  position: absolute;

  top: 9px;
  left: 7px;

  background-color: transparent;
  border: 0;
  padding: 2px;
  -webkit-appearance: none;
}

.btn--standard {
  background: var(--color--bruger);
  color: var(--fgcolor--bruger);

  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  margin-left: var(--distance-standard);
  text-transform: uppercase;
  width: 145px;
}

.btn--menusearch:hover {
  background-color: var(--color--graa6);
}

.btn--standard {
  border-radius: 5px;
  font-size: var(--fs-showmore);
}

.btn--contest {
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: var(--distance-standard);
  -webkit-appearance: none;
}

.input-btn {
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: var(--fs-caption);
  line-height: 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.desktop .input-btn:hover {
  background-color: #5d5d5d;
  color: var(--color--white);
}

.desktop .input-btn.disabled,
.desktop .input-btn.disabled:hover {
  background-color: var(--color--graa6);
  color: var(--color--graa3);
  -webkit-appearance: none;
  cursor: default;
}

.checkbox-design {
  padding-left: 10px;
  text-align: left;
  width: 30px;
}

.checkbox-row {
  color: var(--color--graa3);
}

.cb-input:checked + .checkbox-row {
  color: var(--color--black);
}

.cb-input:enabled + .checkbox-row:hover,
.cb-input + .checkbox-row:hover {
  color: var(--color--black);
  cursor: pointer;
}

.cb-input {
  display: none;
}

.cb-unchecked,
.cb-input:checked + .checkbox-row .cb-checked {
  display: inline-block;
}

.cb-checked,
.cb-input--expand:checked + .checkbox-row .cb-unchecked--expand,
.cb-input:checked + .checkbox-row .cb-unchecked {
  display: none;
}

.cb-input--expand:checked + .checkbox-row .transition-expand {
  max-height: 1000px;
}

.contest-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.contest-required {
  position: relative;
}

.contest-required .input--text {
  border: 2px solid var(--color--reddark);
}

.contest-required::before {
  content: "Dette felt skal udfyldes";
  color: var(--color--reddark);
  font-size: var(--fs-caption);
  position: absolute;
  background: #fff;
  top: 0;
  right: 10px;
}

.input-error {
  color: var(--color--reddark);
  font-size: var(--fs-caption);
  opacity: 0;
}

.input--error ~ .input-error {
  opacity: 1;
}
