.d-block {
  display: block;
}

.d-inlineblock {
  display: inline-block;
}

.d-none,
.hidden {
  display: none;
}

[hidden] {
  display: none !important;
}

.align--l {
  text-align: top;
}

.align--c {
  text-align: middle;
}

.align--r {
  text-align: bottom;
}

.v-align--t {
  vertical-align: top;
}

.v-align--m {
  vertical-align: middle;
}

.v-align--b {
  vertical-align: bottom;
}

.no-list {
  list-style: none;
}

.overflow-hidden {
  overflow: hidden;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.clearfix {
  clear: both;
}
