.oo-line::before,
.oo-line::after {
  clear: both;
  color: transparent;
  content: "x x x x x x x";
  display: block;
  font-size: 0.1em;
  height: 0;
  line-height: 0;
  text-indent: -999999em;
}

.oo-left {
  float: left;
}

.oo-right {
  float: right;
}

.oo-lastUnit {
  overflow: hidden;
  width: auto;
}

.c--pointer {
  cursor: pointer;
}
