.pad-none {
  padding: 0;
}

.pad-none--t {
  padding-top: 0;
}

.pad-none--r {
  padding-right: 0;
}

.pad-none--b {
  padding-bottom: 0;
}

.pad-none--l {
  padding-left: 0;
}
.desktop .pad-s {
  padding: 5px;
}
.desktop .pad-s--tb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.desktop .pad-s--rl {
  padding-right: 5px;
  padding-left: 5px;
}
.desktop .pad-s--t {
  padding-top: 5px;
}
.desktop .pad-s--r {
  padding-right: 5px;
}
.desktop .pad-s--b {
  padding-bottom: 5px;
}
.desktop .pad-s--l {
  padding-left: 5px;
}
.smartphone .pad-s {
  padding: 5px;
}
.smartphone .pad-s--tb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.smartphone .pad-s--rl {
  padding-right: 5px;
  padding-left: 5px;
}
.smartphone .pad-s--t {
  padding-top: 5px;
}
.smartphone .pad-s--r {
  padding-right: 5px;
}
.smartphone .pad-s--b {
  padding-bottom: 5px;
}
.smartphone .pad-s--l {
  padding-left: 5px;
}
.tablet .pad-s {
  padding: 5px;
}
.tablet .pad-s--tb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.tablet .pad-s--rl {
  padding-right: 5px;
  padding-left: 5px;
}
.tablet .pad-s--t {
  padding-top: 5px;
}
.tablet .pad-s--r {
  padding-right: 5px;
}
.tablet .pad-s--b {
  padding-bottom: 5px;
}
.tablet .pad-s--l {
  padding-left: 5px;
}
.desktop .pad-m {
  padding: 10px;
}
.desktop .pad-m--tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.desktop .pad-m--rl {
  padding-right: 10px;
  padding-left: 10px;
}
.desktop .pad-m--t {
  padding-top: 10px;
}
.desktop .pad-m--r {
  padding-right: 10px;
}
.desktop .pad-m--b {
  padding-bottom: 10px;
}
.desktop .pad-m--l {
  padding-left: 10px;
}
.smartphone .pad-m {
  padding: 10px;
}
.smartphone .pad-m--tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.smartphone .pad-m--rl {
  padding-right: 10px;
  padding-left: 10px;
}
.smartphone .pad-m--t {
  padding-top: 10px;
}
.smartphone .pad-m--r {
  padding-right: 10px;
}
.smartphone .pad-m--b {
  padding-bottom: 10px;
}
.smartphone .pad-m--l {
  padding-left: 10px;
}
.tablet .pad-m {
  padding: 10px;
}
.tablet .pad-m--tb {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tablet .pad-m--rl {
  padding-right: 10px;
  padding-left: 10px;
}
.tablet .pad-m--t {
  padding-top: 10px;
}
.tablet .pad-m--r {
  padding-right: 10px;
}
.tablet .pad-m--b {
  padding-bottom: 10px;
}
.tablet .pad-m--l {
  padding-left: 10px;
}
.desktop .pad-l {
  padding: 20px;
}
.desktop .pad-l--tb {
  padding-top: 20px;
  padding-bottom: 20px;
}
.desktop .pad-l--rl {
  padding-right: 20px;
  padding-left: 20px;
}
.desktop .pad-l--t {
  padding-top: 20px;
}
.desktop .pad-l--r {
  padding-right: 20px;
}
.desktop .pad-l--b {
  padding-bottom: 20px;
}
.desktop .pad-l--l {
  padding-left: 20px;
}

.smartphone .pad-l {
  padding: 15px;
}
.smartphone .pad-l--tb {
  padding-top: 15px;
  padding-bottom: 15px;
}
.smartphone .pad-l--rl {
  padding-right: 15px;
  padding-left: 15px;
}
.smartphone .pad-l--t {
  padding-top: 15px;
}
.smartphone .pad-l--r {
  padding-right: 15px;
}
.smartphone .pad-l--b {
  padding-bottom: 15px;
}
.smartphone .pad-l--l {
  padding-left: 15px;
}

.tablet .pad-l {
  padding: 20px;
}
.tablet .pad-l--tb {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tablet .pad-l--rl {
  padding-right: 20px;
  padding-left: 20px;
}
.tablet .pad-l--t {
  padding-top: 20px;
}
.tablet .pad-l--r {
  padding-right: 20px;
}
.tablet .pad-l--b {
  padding-bottom: 20px;
}
.tablet .pad-l--l {
  padding-left: 20px;
}
.desktop .pad-xl {
  padding: 30px;
}
.desktop .pad-xl--tb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.desktop .pad-xl--rl {
  padding-right: 30px;
  padding-left: 30px;
}
.desktop .pad-xl--t {
  padding-top: 30px;
}
.desktop .pad-xl--r {
  padding-right: 30px;
}
.desktop .pad-xl--b {
  padding-bottom: 30px;
}
.desktop .pad-xl--l {
  padding-left: 30px;
}
.smartphone .pad-xl {
  padding: 20px;
}
.smartphone .pad-xl--tb {
  padding-top: 20px;
  padding-bottom: 20px;
}
.smartphone .pad-xl--rl {
  padding-right: 20px;
  padding-left: 20px;
}
.smartphone .pad-xl--t {
  padding-top: 20px;
}
.smartphone .pad-xl--r {
  padding-right: 20px;
}
.smartphone .pad-xl--b {
  padding-bottom: 20px;
}
.smartphone .pad-xl--l {
  padding-left: 20px;
}
.tablet .pad-xl {
  padding: 30px;
}
.tablet .pad-xl--tb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.tablet .pad-xl--rl {
  padding-right: 30px;
  padding-left: 30px;
}
.tablet .pad-xl--t {
  padding-top: 30px;
}
.tablet .pad-xl--r {
  padding-right: 30px;
}
.tablet .pad-xl--b {
  padding-bottom: 30px;
}
.tablet .pad-xl--l {
  padding-left: 30px;
}
.desktop .pad-xxl {
  padding: 50px;
}
.desktop .pad-xxl--tb {
  padding-top: 50px;
  padding-bottom: 50px;
}
.desktop .pad-xxl--rl {
  padding-right: 50px;
  padding-left: 50px;
}
.desktop .pad-xxl--t {
  padding-top: 50px;
}
.desktop .pad-xxl--r {
  padding-right: 50px;
}
.desktop .pad-xxl--b {
  padding-bottom: 50px;
}
.desktop .pad-xxl--l {
  padding-left: 50px;
}
.smartphone .pad-xxl {
  padding: 30px;
}
.smartphone .pad-xxl--tb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.smartphone .pad-xxl--rl {
  padding-right: 30px;
  padding-left: 30px;
}
.smartphone .pad-xxl--t {
  padding-top: 30px;
}
.smartphone .pad-xxl--r {
  padding-right: 30px;
}
.smartphone .pad-xxl--b {
  padding-bottom: 30px;
}
.smartphone .pad-xxl--l {
  padding-left: 30px;
}
.tablet .pad-xxl {
  padding: 50px;
}
.tablet .pad-xxl--tb {
  padding-top: 50px;
  padding-bottom: 50px;
}
.tablet .pad-xxl--rl {
  padding-right: 50px;
  padding-left: 50px;
}
.tablet .pad-xxl--t {
  padding-top: 50px;
}
.tablet .pad-xxl--r {
  padding-right: 50px;
}
.tablet .pad-xxl--b {
  padding-bottom: 50px;
}
.tablet .pad-xxl--l {
  padding-left: 50px;
}
