.permission {
  font-size: var(--fs-showmore);
}

.permission a,
.rightcolumn .permission a,
.permission--sub {
  color: var(--color--eb);
}

.permission--sub:hover {
  cursor: pointer;
}

.permission--newsletters {
  margin: 0 auto;
}

.permission-checkbox {
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  text-align: left;
  width: 25px;
}

.permission-input {
  position: absolute;
  z-index: -1;
}

.permission-input:focus ~ .permission-checked,
.permission-input:focus ~ .permission-unchecked {
  outline: 1px dotted var(--color--graa3);
}

.permission-unchecked,
.permission-input:checked ~ .permission-checked {
  display: inline-block;
}

.permission-checked,
.permission-input:checked ~ .permission-unchecked {
  display: none;
}

.permission-error {
  position: absolute;

  display: none;

  top: -30px;
  left: -5px;
}

.permission-error::before {
  background: var(--color--reddark);
  color: var(--color--white);
  content: " ";
  height: 4px;
  position: absolute;
  z-index: 9999;
  width: 15px;
  left: 8px;
  bottom: 0;
}

.permission-error::after {
  background: var(--color--reddark);
  color: var(--color--white);
  content: " ";
  height: 7px;
  width: 8px;
  transform: rotate(45deg);
  position: absolute;
  left: 10px;
  z-index: 9999;
  bottom: -3px;
}

@media (--desktop) {
  .permission-error::before {
    height: 4px;
    bottom: 0;
  }

  .permission-error::after {
    bottom: -3px;
  }
}

.formErrorContent {
  background: var(--color--reddark);
  color: var(--color--white);
  border-radius: 5px;
  font-size: var(--fs-showmore);
  padding: 5px;
}

.permission-error-content--payflow {
  font-size: var(--fs-timestamp);
}
