/**
* Pillnavigation
*/
.buttongroup {
  display: flex;
}

.buttongroup .button {
  border-color: var(--color--primary);
  border-right-width: 0;
  color: var(--color--primary);
}

.buttongroup .button:active,
.buttongroup .button:hover,
.buttongroup .button:focus,
.buttongroup .button[data-selected="true"] {
  background: var(--color--primary);
  border-color: var(--color--primary);
  color: var(--fgcolor--primary);
}

.buttongroup .button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttongroup .button:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
}

.buttongroup .button:last-of-type {
  border-top-left-radius: 0;
  border-right-width: 1px;
  border-bottom-left-radius: 0;
}
