.badge {
  border-radius: var(--border-radius--small);
  padding: 5px 7px;
}

.badge:not([class*="bg--"]):not([class*="badge--"]) {
  background-color: var(--color--white);
  border: 1px solid var(--card-border-color);
  color: var(--fgcolor--white);
}

.badge.badge--primary {
  background-color: var(--color--primary);
  color: var(--fgcolor--primary);
}

.badge.badge--secondary {
  background-color: var(--color--secondary);
  color: var(--fgcolor--secondary);
}

.badge.badge--success {
  background-color: var(--color--accept);
  color: var(--fgcolor--accept);
}

.badge.badge--danger {
  background-color: var(--color--cancel);
  color: var(--fgcolor--cancel);
}
