@media (--desktop) {
  :root {
    --distance-small: 5px;
    --distance-medium: 10px;
    --distance-standard: 10px;
    --distance-large: 20px;
    --distance-xlarge: 30px;
    --distance-xxlarge: 50px;
  }
}

@media (--smartphone) {
  :root {
    --distance-small: 5px;
    --distance-medium: 10px;
    --distance-standard: 10px;
    --distance-large: 15px;
    --distance-xlarge: 20px;
    --distance-xxlarge: 30px;
  }
}

@media (--tablet) {
  :root {
    --distance-small: 5px;
    --distance-medium: 10px;
    --distance-standard: 10px;
    --distance-large: 20px;
    --distance-xlarge: 30px;
    --distance-xxlarge: 50px;
  }
}
