/*
---
title:   Distance
section: variables
---

Only allowed distance values, to be used in paddings and margins.

```example:css
:root {
  --distance-small: 5px;
  --distance-medium: 10px;
  --distance-standard: 10px;
  --distance-large: 15px;
  --distance-xlarge: 20px;
  --distance-xxlarge: 30px;
}
```
*/
.mar-none {
  margin: 0;
}

.mar-none--t {
  margin-top: 0;
}

.mar-none--r {
  margin-right: 0;
}

.mar-none--b {
  margin-bottom: 0;
}

.mar-none--l {
  margin-left: 0;
}

.desktop .mar-s {
  margin: 5px;
}
.desktop .mar-s--tb {
  margin-top: 5px;
  margin-bottom: 5px;
}
.desktop .mar-s--rl {
  margin-right: 5px;
  margin-left: 5px;
}
.desktop .mar-s--t {
  margin-top: 5px;
}
.desktop .mar-s--r {
  margin-right: 5px;
}
.desktop .mar-s--b {
  margin-bottom: 5px;
}
.desktop .mar-s--l {
  margin-left: 5px;
}

.smartphone .mar-s {
  margin: 5px;
}
.smartphone .mar-s--tb {
  margin-top: 5px;
  margin-bottom: 5px;
}
.smartphone .mar-s--rl {
  margin-right: 5px;
  margin-left: 5px;
}
.smartphone .mar-s--t {
  margin-top: 5px;
}
.smartphone .mar-s--r {
  margin-right: 5px;
}
.smartphone .mar-s--b {
  margin-bottom: 5px;
}
.smartphone .mar-s--l {
  margin-left: 5px;
}
.tablet .mar-s {
  margin: 5px;
}
.tablet .mar-s--tb {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tablet .mar-s--rl {
  margin-right: 5px;
  margin-left: 5px;
}
.tablet .mar-s--t {
  margin-top: 5px;
}
.tablet .mar-s--r {
  margin-right: 5px;
}
.tablet .mar-s--b {
  margin-bottom: 5px;
}
.tablet .mar-s--l {
  margin-left: 5px;
}

.desktop .mar-m {
  margin: 10px;
}
.desktop .mar-m--tb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.desktop .mar-m--rl {
  margin-right: 10px;
  margin-left: 10px;
}
.desktop .mar-m--t {
  margin-top: 10px;
}
.desktop .mar-m--r {
  margin-right: 10px;
}
.desktop .mar-m--b {
  margin-bottom: 10px;
}
.desktop .mar-m--l {
  margin-left: 10px;
}

.smartphone .mar-m {
  margin: 10px;
}
.smartphone .mar-m--tb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.smartphone .mar-m--rl {
  margin-right: 10px;
  margin-left: 10px;
}
.smartphone .mar-m--t {
  margin-top: 10px;
}
.smartphone .mar-m--r {
  margin-right: 10px;
}
.smartphone .mar-m--b {
  margin-bottom: 10px;
}
.smartphone .mar-m--l {
  margin-left: 10px;
}

.tablet .mar-m {
  margin: 10px;
}
.tablet .mar-m--tb {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tablet .mar-m--rl {
  margin-right: 10px;
  margin-left: 10px;
}
.tablet .mar-m--t {
  margin-top: 10px;
}
.tablet .mar-m--r {
  margin-right: 10px;
}
.tablet .mar-m--b {
  margin-bottom: 10px;
}
.tablet .mar-m--l {
  margin-left: 10px;
}
.desktop .mar-l {
  margin: 20px;
}
.desktop .mar-l--tb {
  margin-top: 20px;
  margin-bottom: 20px;
}
.desktop .mar-l--rl {
  margin-right: 20px;
  margin-left: 20px;
}
.desktop .mar-l--t {
  margin-top: 20px;
}
.desktop .mar-l--r {
  margin-right: 20px;
}
.desktop .mar-l--b {
  margin-bottom: 20px;
}
.desktop .mar-l--l {
  margin-left: 20px;
}
.smartphone .mar-l {
  margin: 15px;
}
.smartphone .mar-l--tb {
  margin-top: 15px;
  margin-bottom: 15px;
}
.smartphone .mar-l--rl {
  margin-right: 15px;
  margin-left: 15px;
}
.smartphone .mar-l--t {
  margin-top: 15px;
}
.smartphone .mar-l--r {
  margin-right: 15px;
}
.smartphone .mar-l--b {
  margin-bottom: 15px;
}
.smartphone .mar-l--l {
  margin-left: 15px;
}
.tablet .mar-l {
  margin: 20px;
}
.tablet .mar-l--tb {
  margin-top: 20px;
  margin-bottom: 20px;
}
.tablet .mar-l--rl {
  margin-right: 20px;
  margin-left: 20px;
}
.tablet .mar-l--t {
  margin-top: 20px;
}
.tablet .mar-l--r {
  margin-right: 20px;
}
.tablet .mar-l--b {
  margin-bottom: 20px;
}
.tablet .mar-l--l {
  margin-left: 20px;
}
.desktop .mar-xl {
  margin: 30px;
}
.desktop .mar-xl--tb {
  margin-top: 30px;
  margin-bottom: 30px;
}
.desktop .mar-xl--rl {
  margin-right: 30px;
  margin-left: 30px;
}
.desktop .mar-xl--t {
  margin-top: 30px;
}
.desktop .mar-xl--r {
  margin-right: 30px;
}
.desktop .mar-xl--b {
  margin-bottom: 30px;
}
.desktop .mar-xl--l {
  margin-left: 30px;
}
.smartphone .mar-xl {
  margin: 20px;
}
.smartphone .mar-xl--tb {
  margin-top: 20px;
  margin-bottom: 20px;
}
.smartphone .mar-xl--rl {
  margin-right: 20px;
  margin-left: 20px;
}
.smartphone .mar-xl--t {
  margin-top: 20px;
}
.smartphone .mar-xl--r {
  margin-right: 20px;
}
.smartphone .mar-xl--b {
  margin-bottom: 20px;
}
.smartphone .mar-xl--l {
  margin-left: 20px;
}
.tablet .mar-xl {
  margin: 30px;
}
.tablet .mar-xl--tb {
  margin-top: 30px;
  margin-bottom: 30px;
}
.tablet .mar-xl--rl {
  margin-right: 30px;
  margin-left: 30px;
}
.tablet .mar-xl--t {
  margin-top: 30px;
}
.tablet .mar-xl--r {
  margin-right: 30px;
}
.tablet .mar-xl--b {
  margin-bottom: 30px;
}
.tablet .mar-xl--l {
  margin-left: 30px;
}
.desktop .mar-xxl {
  margin: 50px;
}
.desktop .mar-xxl--tb {
  margin-top: 50px;
  margin-bottom: 50px;
}
.desktop .mar-xxl--rl {
  margin-right: 50px;
  margin-left: 50px;
}
.desktop .mar-xxl--t {
  margin-top: 50px;
}
.desktop .mar-xxl--r {
  margin-right: 50px;
}
.desktop .mar-xxl--b {
  margin-bottom: 50px;
}
.desktop .mar-xxl--l {
  margin-left: 50px;
}
.smartphone .mar-xxl {
  margin: 30px;
}
.smartphone .mar-xxl--tb {
  margin-top: 30px;
  margin-bottom: 30px;
}
.smartphone .mar-xxl--rl {
  margin-right: 30px;
  margin-left: 30px;
}
.smartphone .mar-xxl--t {
  margin-top: 30px;
}
.smartphone .mar-xxl--r {
  margin-right: 30px;
}
.smartphone .mar-xxl--b {
  margin-bottom: 30px;
}
.smartphone .mar-xxl--l {
  margin-left: 30px;
}
.tablet .mar-xxl {
  margin: 50px;
}
.tablet .mar-xxl--tb {
  margin-top: 50px;
  margin-bottom: 50px;
}
.tablet .mar-xxl--rl {
  margin-right: 50px;
  margin-left: 50px;
}
.tablet .mar-xxl--t {
  margin-top: 50px;
}
.tablet .mar-xxl--r {
  margin-right: 50px;
}
.tablet .mar-xxl--b {
  margin-bottom: 50px;
}
.tablet .mar-xxl--l {
  margin-left: 50px;
}

.mar-auto {
  margin-left: auto;
  margin-right: auto;
}

.mar-l--auto {
  margin-left: auto;
}

.mar-r---auto {
  margin-right: auto;
}
