.pagecolumn {
  @extend .eb-row;

  align-items: flex-start;
}

.pagecolumn-element {
  box-sizing: content-box;
  padding-left: var(--distance-small);
  padding-right: var(--distance-small);
  position: relative;
}

.pagecolumn-element:first-of-type {
  padding-left: var(--distance-standard);
}

.pagecolumn-element:last-of-type {
  padding-right: var(--distance-standard);
}
