:root {
  --card-border-color: var(--color--graa7);
  --card-border-section--color: var(--color--eb);
  --card-border-section--width: 8px;
  --card-fs-title: 30px;
  --card-fs-title--small: 20px;
  --card-padding: 20px;
}

@media (--smartphone) {
  :root {
    --card-fs-title: 20px;
    --card-fs-title--small: 16px;
    --card-padding: 10px;
  }
}

.card {
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 1px var(--card-border-color); /* DR.Edition 03/02/2020 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--fontfamily--primary);
  overflow: hidden;
}

/* If background is set */
.card:not(.card--shadow)[class*="bg--"] {
  box-shadow: none; /* Remove box-shadow when filled */
}

.card--shadow {
  box-shadow: var(--box-shadow);
}

.card:not([class*="bg--"]) {
  background: var(--color--white);
  color: var(--color--black);
}

a.card:hover,
a.card:focus {
  box-shadow: var(--box-shadow);
  outline: none;
}

.card-media {
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
}

.card-media .card-icon {
  position: absolute;
  bottom: 5px;
  left: 5px;

  width: 10%;
  min-width: 25px;
}

.card-content {
  padding: var(--card-padding);

  flex: 1 0 auto;
}

.card-header,
.card-footer {
  box-sizing: border-box;
  margin: 0;
  padding: calc(var(--card-padding) / 2) var(--card-padding);
  width: 100%;
}

.card-header:not([class*="bg--"]) {
  border-bottom: 1px solid var(--card-border-color);
}

.card-footer {
  align-self: flex-end;
}

.card-footer:not([class*="bg--"]) {
  border-top: 1px solid var(--card-border-color);
}

.card-meta {
  font-family: var(--fontfamily--primary);
  font-weight: normal;
  line-height: 1.15;
}

.card-meta-item {
  align-items: center;
  display: flex;
  padding-right: var(--distance-medium);
  padding-bottom: var(--distance-small);
  white-space: nowrap;
}

/* Legacy - remove when not used in Escenic */
.card-meta .card-badge {
  border-radius: 5px;
  padding: 3px 5px;
  text-transform: uppercase;
}

.card-title:not([class*="fs-"]):not([class*="fontsize-"]) {
  font-size: var(--card-fs-title);
  font-weight: 700;
  margin: 0;
}

/**/
.card--small-media {
  align-items: center;
  flex-direction: row;

  flex-wrap: wrap;
}

.card-mode .card--small-media .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 5px 10px 10px;
}

.card--small-media .card-media {
  min-width: 100px;
  max-width: 45%;
}

.card-media--square .card-image {
  max-width: 100px;
}

.card--small-media--reverse {
  flex-direction: row-reverse;
}

.card--small-media .card-media + .card-content {
  padding: 0 var(--card-padding);
}

/* Shrink font-size on small cards with media, if not explicitly set to large */
.width-1of2
  > .card
  .card-media
  + .card-content
  .card-title:not(.card-title--large):not([class*="fs-"]):not([class*="fontsize-"]),
.width-1of3
  > .card
  .card-media
  + .card-content
  .card-title:not(.card-title--large):not([class*="fs-"]):not([class*="fontsize-"]),
.card.width-1of2
  .card-media
  + .card-content
  .card-title:not(.card-title--large):not([class*="fs-"]):not([class*="fontsize-"]),
.card.width-1of3
  .card-media
  + .card-content
  .card-title:not(.card-title--large):not([class*="fs-"]):not([class*="fontsize-"]),
.card--small-media .card-title:not(.card-title--large):not([class*="fs-"]):not([class*="fontsize-"]),
.card-title--small:not([class*="fs-"]):not([class*="fontsize-"]) {
  font-size: var(--card-fs-title--small);
}

@media (--ie) {
  .card-media .card-icon svg {
    max-height: 40px;
  }

  .card-media .card-icon img {
    width: 100%;
  }
}

/**
  * CARD MODE
  * Card-mode (mutation of .card - new design)
  */
:root {
  --card-mode--title: var(--fs-large);
  --card-mode-icon--height: 20px;
  --card-mode-padding: 15px;
}

.card.card-mode {
  border-radius: var(--border-radius-medium);
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--fontfamily--secondary);
  overflow: unset;

  flex-shrink: 0;
}

.card-inner {
  position: relative;

  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.card-mode--article {
  width: var(--card-width);
}

.card-inner.card--small-media {
  flex-direction: row;
  width: 100%;
}

.card-inner.card--small-media--reverse {
  flex-direction: row-reverse;
  width: 100%;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  justify-content: space-between;
}

:root {
  --color--list: var(--color--white);
  --fgcolor--list: var(--fgcolor--white);
}

.card-inner:not([class*="bg--"]) {
  background: var(--color--list);
  color: var(--fgcolor--list);
}

.card-mode:not([class*="bg--"]) {
  background: inherit;
}

a.card-mode:hover,
a.card-mode:focus,
a.card-mode:hover .card-inner,
a.card-mode:focus .card-inner {
  box-shadow: none;
}

.card-mode .card--small-media .card-content-wrapper {
  align-self: stretch;
  flex-grow: 0;

  flex: 1;
}

.card-mode .card-content {
  position: relative;

  padding: 10px 15px 15px;
}

.card-mode .card-icon ~ .card-content {
  padding-bottom: 0;
}

.card-mode .card-icon {
  box-sizing: content-box;
  padding: 0 5px 5px;
  height: var(--card-mode-icon--height);
}

.card-mode .card-icon .icon-svg {
  width: var(--card-mode-icon--height);
  height: var(--card-mode-icon--height);
}

.card-mode .card-media {
  position: relative;
}

.card-mode .card-image {
  display: block;
  width: 100%;
  height: auto;
}

.card-mode .card-media--landscape {
  position: relative;

  background: var(--color--graa5);
  color: var(--fgcolor--graa5);
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  height: 0;
}

.card-mode .card-media--landscape .card-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.card-mode .card-title:not([class*="fs-"]):not([class*="fontsize-"]) {
  font-size: var(--card-mode--title);
  font-weight: 700;
  margin: 0;
}

.card-media ~ .card-content-wrapper .card-title--truncated {
  --max-lines: 4;
}

.card-title--truncated {
  position: relative;

  display: -webkit-box;
  line-height: var(--lh);
  overflow: hidden;
  min-height: calc(var(--lh) * var(--max-lines));
  max-height: calc(var(--lh) * var(--max-lines));

  -webkit-box-orient: vertical;
  --lh: 1.2em;
  -webkit-line-clamp: var(--max-lines);
  --max-lines: 9;
}

.card .video-icon {
  position: absolute;
  right: 10px;
  bottom: 5px;
  z-index: 1;
}

.premium-dogear {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  line-height: 0;
  padding: var(--dogear-padding) 0 0 var(--dogear-padding);

  --dogear-icon: 18px;
  --dogear-padding: 7px;
  --dogear-size: 61px;
  --icon-size: var(--dogear-icon);
}

.premium-dogear--small {
  --dogear-icon: 14px;
  --dogear-padding: 5px;
  --dogear-size: 41px;
}

.premium-dogear::after {
  position: absolute;
  top: -3px;
  left: -1px;
  z-index: -1;

  background: var(--color--eb);
  content: " ";
  display: block;
  width: var(--dogear-size);
  height: var(--dogear-size);

  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.card--small-media--reverse .premium-dogear,
.premium-dogear--reverse {
  right: 0;
  left: auto;

  padding: var(--dogear-padding) var(--dogear-padding) 0 0;
}

.card--small-media--reverse .premium-dogear::after,
.premium-dogear--reverse::after {
  right: -1px;
  left: auto;

  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.premium-dogear + .card-content-wrapper .card-meta {
  padding-left: 15px;
}

.card--small-media .premium-dogear + .card-content-wrapper .card-meta,
.horizontal-scroll-items .premium-dogear + .card-content-wrapper .card-meta {
  padding-left: 25px;
}

.card--small-media .premium-dogear--small + .card-content-wrapper .card-meta,
.horizontal-scroll-items .premium-dogear--small + .card-content-wrapper .card-meta {
  padding-left: 15px;
}

.card--small-media .premium-dogear + .card-content-wrapper .card-content,
.horizontal-scroll-items .premium-dogear + .card-content-wrapper .card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.card--small-media .premium-dogear--small + .card-content-wrapper .card-content,
.horizontal-scroll-items .premium-dogear--small + .card-content-wrapper .card-content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
