:root {
  --icon-size: 14px;
  --ebds-figcaption-bg: var(--color--white);
}

.icon-svg {
  width: var(--icon-size);
  height: var(--icon-size);

  fill: currentColor;
}

.icon-svg--small {
  width: 12px;
  height: 12px;
}

.icon-svg.figure-caption-pin {
  width: 34px;
  height: 16px;
}
