:root {
  --right-pos: calc(var(--button-height) * 1.5);
}

.horizontal-scroll-padding {
  padding-right: var(--right-pos);
  padding-left: var(--right-pos);
}

.horizontal-scroll-container::before,
.horizontal-scroll-container::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  box-shadow: -20px 0 20px -20px rgba(0, 0, 0, .4);
  content: " ";
  opacity: 1;
  transition: opacity 200ms, height 200ms;
  width: var(--right-pos);
  height: 100%;
}

.horizontal-scroll-container::before {
  left: 0;

  box-shadow: 20px 0 20px -20px rgba(0, 0, 0, .4);
}

.horizontal-scroll-container[data-atend="true"]::after {
  opacity: 0;
  height: 0;
}

.horizontal-scroll-container[data-atstart="true"]::before {
  opacity: 0;
  height: 0;
}

.horizontal-scroll-nav {
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 100;

  box-shadow: var(--card-mode--box-shadow);
  opacity: 0;
}

.horizontal-scroll-container:not([data-atstart="true"]):hover .button-prev {
  opacity: 1;
}

.horizontal-scroll-nav.button-next {
  right: 5px;
  left: auto;
}

.horizontal-scroll-container:not([data-atend="true"]):hover .button-next {
  opacity: 1;
}

.horizontal-scroll-items {
  overflow-x: scroll;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox hack to hide scrollbar */
}

.horizontal-scroll-items::-webkit-scrollbar {
  display: none; /* Chrome on Windows hack to hide scrollbar */
}

.horizontal-scroll-item {
  scroll-snap-align: start;
}

.horizontal-scroll-item--small {
  height: 84px;
}
