:root {
  --tooltip-border-color: var(--card-border-color);
  --tooltip-height: 25px;
  --tooltip-padding: 5px 5px;
}

.tooltip {
  position: relative;

  display: inline-block;
  height: var(--tooltip-height);
}

.tooltip-input {
  display: none;
}

.tooltip-toggle {
  cursor: pointer;
}

.tooltip-off,
.tooltip-on {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  background: var(--color--white);
  border-radius: var(--border-radius--small);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  font-family: var(--fontfamily--primary);
  overflow: hidden;
  padding: var(--tooltip-padding);
  width: 22px;
  height: var(--tooltip-height);
}

.tooltip-input:checked ~ .tooltip-on {
  width: 400px;
  max-width: calc(100vw - 40px);
  height: auto;
}

.tooltip-input ~ .tooltip-off,
.tooltip-input:checked ~ .tooltip-on {
  display: block;
}

.tooltip-input:checked ~ .tooltip-off,
.tooltip-input ~ .tooltip-on {
  display: none;
}

.tooltip--right .tooltip-off,
.tooltip--right .tooltip-on {
  right: 0;
  left: auto;
}

.tooltip--right .tooltip-toggle {
  float: right;
}
