.toggle-input {
  display: none;
}

.js-toggle,
.toggle-container {
  cursor: pointer;
}

.toggle {
  align-content: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
}

.toggle--icon {
  width: 20px;
}

.js-toggle[data-toggle='off'] .toggle-off,
.js-toggle[data-toggle='on'] .toggle-on,
.toggle-input ~ .toggle-off,
.toggle-input:checked ~ .toggle-on {
  display: inline-flex;
}

.js-toggle[data-toggle='on'] .toggle-off,
.js-toggle[data-toggle='off'] .toggle-on,
.toggle-input:checked ~ .toggle-off,
.toggle-input ~ .toggle-on {
  display: none;
}
