:root {
  --tooltip-arrow-size: 7px;
  --tooltip-bgcolor: var(--color--white);
  --tooltip-fgcolor: var(--fgcolor--white);
  --tooltip-padding: var(--ds-spacing-xs, 8px);;
}

.tooltip-container {
  position: relative;

  background: var(--tooltip-bgcolor);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow--dark);
  box-sizing: border-box;
  color: var(--tooltip-fgcolor);
  font-family: var(--fontfamily--secondary);
  outline: 0;
  padding: var(--tooltip-padding);
  white-space: normal;
  max-width: calc(100vw - 10px);
  height: auto;
}

.tooltip-container[data-popper-placement^="top"] .tooltip-arrow {
  bottom: 0;
}
.tooltip-container[data-popper-placement^="top"] .tooltip-arrow:before {
  bottom: calc(var(--tooltip-arrow-size) * -1 + 1px);
  left: 0;

  border-width: var(--tooltip-arrow-size) var(--tooltip-arrow-size) 0;
  border-top-color: initial;
  transform-origin: center top;
}
.tooltip-container[data-popper-placement^="bottom"] .tooltip-arrow {
  top: 0;
}
.tooltip-container[data-popper-placement^="bottom"] .tooltip-arrow:before {
  top: calc(var(--tooltip-arrow-size) * -1 + 1px);
  left: 0;

  border-width: 0 var(--tooltip-arrow-size) var(--tooltip-arrow-size);
  border-bottom-color: initial;
  transform-origin: center bottom;
}
.tooltip-container[data-popper-placement^="left"] .tooltip-arrow {
  right: 0;
}
.tooltip-container[data-popper-placement^="left"] .tooltip-arrow:before {
  right: calc(var(--tooltip-arrow-size) * -1 + 1px);

  border-width: var(--tooltip-arrow-size) 0 var(--tooltip-arrow-size) var(--tooltip-arrow-size);
  border-left-color: initial;
  transform-origin: center left;
}
.tooltip-container[data-popper-placement^="right"] .tooltip-arrow {
  left: 0;
}
.tooltip-container[data-popper-placement^="right"] .tooltip-arrow:before {
  left: calc(var(--tooltip-arrow-size) * -1 + 1px);

  border-width: var(--tooltip-arrow-size) var(--tooltip-arrow-size) var(--tooltip-arrow-size) 0;
  border-right-color: initial;
  transform-origin: center right;
}
.tooltip-arrow {
  color: var(--tooltip-bgcolor);
  width: calc(var(--tooltip-arrow-size) * 2);
  height: calc(var(--tooltip-arrow-size) * 2);
}
.tooltip-arrow:before {
  position: absolute;

  border-color: transparent;
  border-style: solid;
  content: "";
}

.tooltip-textonly {
  max-width: 400px;
}
