<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }} | Ekstra Bladet Design System</title>
    <link href="{{ 'src/highlight.css' | relative_url }}" rel="stylesheet" />
    <link href="{{ 'src/index.css' | relative_url }}" rel="stylesheet" />
    <link href="{{ 'dist/outputs.css' | relative_url }}" rel="stylesheet" />
    <link href="https://ekstrabladet.dk/assets/base/css/desktop.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8eb7d09abc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="#content" class="screen-reader-text">Skip navigation</a>

    <nav class="nav-top">
      <div class="nav-top-left">
        <a href="/eb-designsystem/" class="nav-brand nav-brand--left">
          <svg viewBox="0 0 40 35" class="eblogo-40px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ekstrabladet"></use>
          </svg>
        </a>
        <a href="/eb-designsystem/" class="nav-item-hover mar-m--l">Ekstra Bladet Design System</a>
      </div>
      <div class="nav-top-right">
        <a href="https://github.com/EkstraBladetUdvikling/eb-designsystem" class="nav-item-hover"> <i class="fab fa-github"></i> Github</a>
      </div>
    </nav>

    <div class="eb-row eb-row--top mar-xl--t">
      <aside class="pad-l">
        <nav>
          <h3 class="mar-none mar-m--b">Utilities</h3>
          <ul class="no-list pad-none mar-none mar-xl--b">
            {% for utility in site.utilities %}
            <li class="pad-s--l mar-s--b" style="border-left: 5px solid {% if utility.url == page.url %}#000{% else %}#ccc{% endif %}">
              <a href="{{ utility.url | relative_url }}">{{ utility.title }} </a>
            </li>
            {% endfor %}
          </ul>
          <h3 class="mar-none mar-m--b">Components</h3 class="mar-none mar-m--b">
          <ul class="no-list pad-none mar-none mar-xl--b">
            {% for component in site.components %}
            <li class="pad-s--l mar-s--b" style="border-left: 5px solid {% if component.url == page.url %}#000{% else %}#ccc{% endif %}">
              <a href="{{ component.url | relative_url }}">{{ component.title }} </a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </aside>
      <div class="pad-l size1of1 dsm-content" id="content">
        {{ content }}
      </div>
    </div>

    {% include svg-symbols.html %}
  </body>
</html>
