:root {
  --color--focus: var(--color--blue);
  --form-border-radius: var(--border-radius--small);
}

:focus {
  outline: 1px auto var(--color--focus);
}

.form-element {
  position: relative;

  margin-top: 15px;
}

.form-group .form-element + .form-element {
  margin-top: 25px;
}

.form-input {
  /**
  @description: Form input, dependent on the surrounding form-element
  @template:
  <div class="form-element">
    <input type="text" class="form-input form-input--text" id="formInput" placeholder="$1" />
    <label for="formInput" class="form-label">$1</label>
  </div>
  */
  border: 1px solid;
  border-radius: var(--form-border-radius);
  box-sizing: border-box;
  line-height: 30px;
  padding: 5px;
  height: 30px;
}

.form-input--big {
  padding: 10px;
  height: 50px;
}

.form-input ~ .form-label {
  position: absolute;
  top: 0;
  left: 5px;

  font-size: 0.7em;
  transform: translate(0, -110%);
}

.form-input:placeholder-shown ~ .form-label {
  opacity: 0;
}

.form-input:not(:placeholder-shown) ~ .form-label,
.form-input:focus ~ .form-label {
  opacity: 1;
}

.form-element--icon {
  position: relative;

  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
}

.form-input.form-input--icon {
  border: 0;
  line-height: normal;
  padding: 0;
  height: auto;
}

.form-element--icon .form-icon:first-child {
  margin-right: 5px;
}

.form-element--icon .form-icon:last-child {
  margin-left: 5px;
}

.form-input-container {
  border: 1px solid black;
}

.form-input-container span {
  line-height: 1.15;
  padding: 1px 2px;
  white-space: nowrap;
}

[data-focus="true"] {
  border: 1px solid var(--color--lightblue);
}

[data-focus="true"] span {
  color: var(--color--lightblue);
}

.form-input-container input,
.form-input-container textarea {
  border: none;
  line-height: normal;
  padding: 1px 2px;
  height: auto;
}
.form-input-container input:focus,
.form-input-container textarea:focus {
  outline: none;
}

.form-input-container.focus input::placeholder,
.form-input-container.focus textarea::placeholder {
  color: transparent;
}

/**
* Icon checkbox
*/
.form-checkbox--icon {
  position: absolute;
  top: 2px;
  left: 3px;
  z-index: -1;

  transform: scale(0.1);
}

.form-checkbox--icon ~ .form-label {
  background: var(--color--white);
  color: var(--fgcolor--white);
}

.form-checkbox--icon:focus ~ .form-label .form-checkbox-toggle--on,
.form-checkbox--icon:focus ~ .form-label .form-checkbox-toggle--off {
  outline: 5px auto var(--color--focus);
}

.form-checkbox--icon ~ .form-label .form-checkbox-toggle--on,
.form-checkbox--icon:checked ~ .form-label .form-checkbox-toggle--off {
  display: none;
}

.form-checkbox--icon ~ .form-label .form-checkbox-toggle--off,
.form-checkbox--icon:checked ~ .form-label .form-checkbox-toggle--on {
  display: inline-block;
}
