/* Systemwide variables - default + desktop */
:root {
  --border-radius--small: 5px;
  --box-shadow--hover: 0 0 10px 5px rgba(var(--rgb-color--black), .22); /* DR.Edition 03/02/2020 - converted from #c8c8c8 */
  --box-shadow--mainmenu: 0 10px 10px 0 rgba(var(--rgb-color--black), .1);
  --color--accept: var(--color--green);
  --color--cancel: var(--color--red);
  --color--default: var(--color--bluedark);
  --color--primary: var(--color--bruger);
  --color--secondary: var(--color--graa3);
  /* distance - desktop */
  --distance-large: 20px;
  --distance-medium: 10px;
  --distance-small: 5px;
  --distance-standard: 10px;
  --distance-xlarge: 30px;
  --distance-xxlarge: 50px;
  --fgcolor--accept: var(--fgcolor--green);
  --fgcolor--cancel: var(--fgcolor--red);
  --fgcolor--default: var(--fgcolor--bluedark);
  --fgcolor--primary: var(--fgcolor--bruger);
  --fgcolor--secondary: var(--fgcolor--graa3);
  --fontfamily--primary: "Work Sans", var(--fontfamily--secondary);
  --fontfamily--secondary: Arial, Helvetica, sans-serif;
  --fs-rem-large: 1.125rem; /* 18px */
  --fs-rem-medium: 1rem; /* 16px */
  --fs-rem-small: .875rem; /* 14px */
  --fs-rem-xlarge: 1.25rem; /* 20px */
  --fs-rem-xsmall: .75rem; /* 12px */
  --fs-rem-xxlarge: 1.875rem; /* 30px */
  --fs-rem-xxsmall: .625rem; /* 10px */
  --fs-rem-xxxlarge: 2.25rem; /* 36px */
  --fs-rem-xxxxlarge: 3.125rem; /* 50px */
}

@media (--smartphone) {
  :root {
    --distance-large: 15px;
  --distance-medium: 10px;
  --distance-small: 5px;
  --distance-standard: 10px;
  --distance-xlarge: 20px;
  --distance-xxlarge: 30px;
  }
}
