.nav-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  white-space: nowrap;
}

.nav-item,
.nav-item-hover {
  color: var(--color--black);
}

.nav-item svg,
.nav-item-hover svg {
  fill: currentColor;
}

.nav-item:hover .nav-item-hover,
.nav-item-hover:hover {
  color: inherit;
}

.nav-item:hover .nav-item-hover svg,
.nav-item-hover:hover svg {
  fill: currentColor;
}

.nav-item .fa {
  font-size: 1em;
}

.nav-item .fa:first-child {
  margin-right: 5px;
}

.nav-item .fa:last-child {
  margin-left: 5px;
}

.nav-top .nav-item {
  padding: 0 var(--item-distance);
}

.nav-brand {
  line-height: 0;
}

.nav-brand--left {
  margin-right: var(--item-distance);
}

.nav-top .nav-item--first {
  padding-left: 0;
}

.nav-top .nav-item:last-child {
  padding-right: 0;
}

.nav-item-icon {
  flex-shrink: 0;
}

.nav-item-icon:first-child {
  margin-right: 5px;
}

.nav-item-icon:last-child {
  margin-left: 5px;
}

.nav-item--user {
  max-width: 100px;
}

@media (min-width: 1100px) {
  .nav-item--user {
    max-width: 150px;
  }
}

@media (min-width: 1200px) {
  .nav-item--user {
    max-width: 200px;
  }
}

@media (min-width: 1300px) {
  .nav-item--user {
    max-width: 300px;
  }
}
