.nav-item {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.nav-item,
.nav-item-hover {
  color: var(--color--black);
}

.nav-item:hover .nav-item-hover {
  color: inherit;
}

.nav-item .fa {
  font-size: 1em;
}

.nav-item .fa:first-child {
  margin-right: 5px;
}

.nav-item .fa:last-child {
  margin-left: 5px;
}

.nav-top .nav-item {
  padding: 0 10px;
}

.nav-top .nav-item--brand {
  padding: 0;
}

.nav-top .nav-item:first-child {
  border-left: 0;
}

.nav-top .nav-item:last-child {
  padding-right: 0;
}
