.nav-top.nav-top--sub {
  z-index: 0;

  background: var(--color--black);
  border-radius: 0;
  box-shadow: none;
  color: var(--fgcolor--black);
}

.nav-top.nav-top--sub a {
  color: var(--fgcolor--black);
}

.nav-top--sub :first-child {
  padding-left: 0;
}
