.accordion-tab {
  background: rgb(var(--rgb-color--white));
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  user-select: none;
}

.accordion-header {
  cursor: pointer;
}
.accordion-header:hover {
  color: var(--color--bluelight);
}
.accordion-header:hover > i {
  color: var(--color--bluelight);
}

/* icon styling */
.accordion-header i,
.accordion-header svg {
  color: var(--color--black);
}
/* icon active */
.accordion-tab.accordion-expanded .accordion-header i,
.accordion-tab.accordion-expanded .accordion-header svg {
  transform: rotate(180deg);
}

.accordion-tab > .accordion-body {
  display: none;
}

.accordion-tab.accordion-expanded > .accordion-body {
  display: block;
}

.accordion-tab.accordion-expanded {
  border: 1px solid var(--color--graa5);
}

.accordion-body > p {
  font-size: var(--fs-medium);
}

.accordion-body p:first-child {
  margin-top: 0;
}

/* Lightmode */
[data-theme="lightmode"] .accordion-tab {
  background: rgb(var(--rgb-color--white));
  border: 1px solid var(--color--graa4);
  color: var(--color--black);
}
[data-theme="lightmode"] .accordion-tab.accordion-expanded {
  background: rgb(var(--rgb-color--white));
  border: 1px solid var(--color--graa2);
}
[data-theme="lightmode"] .accordion-header i,
[data-theme="lightmode"] .accordion-header svg {
  color: var(--color--graa3);
}

/* Darkmode */
[data-theme="darkmode"] .accordion-tab {
  background: rgb(var(--rgb-color--graa1));
  color: var(--color--white);
}
[data-theme="darkmode"] .accordion-tab.accordion-expanded {
  background: rgb(var(--rgb-color--black));
}
[data-theme="darkmode"] .accordion-header i,
[data-theme="darkmode"] .accordion-header svg {
  color: var(--color--graa3);
}
